.search-bar {
    position: relative;
    padding: 0.2rem 1rem;
    margin: 0.1rem;
    font-weight: bold;
    color: black;
    outline: rgb(99, 151, 254);
    border-radius: 4px;
    cursor:text;
    background-color: white;
  }

  .search-bar:hover {
    border-color: rgb(99, 151, 254);
  }